<manifest xmlns:android="http://schemas.android.com/apk/res/android"
  package="com.selftech.sim_data">

  <uses-permission android:maxSdkVersion="29" android:name="android.permission.READ_PHONE_STATE"/>
  <uses-permission android:name="android.permission.READ_PRIVILEGED_PHONE_STATE"/>
  <uses-permission android:name="android.permission.USE_ICC_AUTH_WITH_DEVICE_IDENTIFIER"/> 
  <uses-permission android:name="android.permission.READ_PHONE_NUMBERS" />

</manifest>
